<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vteso.image_tailor">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


</manifest>
